In [2]:
import sqlite3
import pandas as pd
import pyodbc

In [13]:
data = pd.read_csv('13-07-2022-14_59_00_master.csv')   
df = pd.DataFrame(data)
df['clarity_level'] = df['clarity_level'].fillna('none')
df

,label,youtube_id,time_start,time_end,split,clarity_level,bad_egg
0,crowd,4pRPc04xoEo1,0,12,train,none,False
1,spray,4pRPc04xoEo2,12,18,train,hard,False
2,running,4pRPc04xoEo3,12,21,train,hard,False
3,crowd,4pRPc04xoEo4,34,44,train,none,False
4,crowd,4pRPc04xoEo5,66,71,train,none,False
...,...,...,...,...,...,...,...
10232,nothing,56eisygGo6g12,600,610,train,none,False
10233,nothing,56eisygGo6g13,616,630,train,none,False
10234,nothing,56eisygGo6g14,694,704,train,none,False
10235,nothing,56eisygGo6g15,775,790,train,none,False
10236,nothing,56eisygGo6g16,800,807,train,none,False

In [22]:
pyodbc.drivers()

['SQL Server',
 'SQL Server Native Client 11.0',
 'ODBC Driver 17 for SQL Server',
 'SQL Server Native Client RDA 11.0']

In [25]:
conn = pyodbc.connect(
    Trusted_Connection = 'Yes',
    Driver = '{SQL Server Native Client 11.0}',
    Server = 'DESKTOP-U1VH61U',
    Database = 'Test'
)

cursor = conn.cursor()

SystemError: <class 'pyodbc.Error'> returned a result with an error set

In [ ]:
# Step 3 - Write a query
query = 'SELECT * FROM charactercreator_character;'

# ensure that the queries are only being run when
# the file is executed as a script
# `python sqlite_example.py`
if __name__ == '__main__':
    # Step 4 - Execute the query on the cursor
    cursor.execute(query)
    # Step 5 - Fetch the final results from the cursor
    results = cursor.fetchall()
    print(results[:5])